body {
    font-family: 'Ubuntu', sans-serif;
}
.navbar {
    background-image: linear-gradient(
100deg
, rgb(228 226 218) 0%, #4367a9 100%);
    box-shadow: 0px 7px 5px grey;
}
#input-container {
    border: 1.5px solid silver; padding: 2.5%; margin: 5%;
    border-radius: 10px;
}
#message {
    padding: 3%;
}
h1 {
    text-shadow: 1px 1px 5px black;
  }